---

- name: Building process
  hosts: maven
  become: yes

  tasks:

  - name: Create project folder on the control node
    ansible.builtin.file:
      path: /opt/boxfuse
      state: directory
    delegate_to: localhost

  - name: Ensure maven is present
    apt:
     name: maven
     state: present

  - name: Ensure working directory is present
    file:
      path: /opt/boxfuse
      state: directory

  - name: Copy project for further building
    ansible.builtin.git:
     repo: "https://github.com/boxfuse/boxfuse-sample-java-war-hello.git"
     dest: /opt/boxfuse

  - name: Build the project with maven
    command: mvn package
    args:
     chdir: /opt/boxfuse/

  - name: Copy the artifact for further publishing
    fetch:
     src: /opt/boxfuse/target/hello-1.0.war
     dest: /opt/boxfuse/
     flat: yes

- name: publish project
  hosts: tomcat
  become: yes

  tasks:
  - name: Ensure tomcat9 package is present
    apt:
     name: tomcat9
     state: present

  - name: Ensure tomcat9 service is active
    service:
      name: tomcat9
      state: started

  - name: Copy .war-file to the tomcat dir
    copy:
     src: /opt/boxfuse/hello-1.0.war
     dest: /var/lib/tomcat9/webapps
     owner: tomcat
     group: tomcat
     mode: '0644'

  - name: WAR deploy
    service:
     name: tomcat9
     state: restarted
